body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#naming{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    margin-top: 30px;
}

#naming>div>p{
   margin-top: -10px;
}

#Boxes{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

#Boxes>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 250px;
    width: 280px;
    background-color: rgb(230, 255, 241);
    padding: 15px;
}

#Boxes>div>p{
    align-items: center;
}

button{
    cursor: pointer;
}

.center{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
    border-radius: 5px;
    border: 0.5px dashed gray;
}

.docs{
    width: 95%;
    margin: auto;
}

#about{
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: space-between;
    margin-top: 70px;
    background-color: #eef4ff;
    padding: 10px;
}

#about>div{
    width: 220px;
    height: auto;
    margin-left: 25px;
    margin-top: 30px;
}

#about>div>a{
    font-size: 14px;
    text-decoration: none;
    letter-spacing: -1px;
    color: #30363c;
}

#about>div>h4{
    color: #30363c;
}

.inc-size{
    font-size: 25px;
    margin-right: 10px;
}

.sources{
    display: flex;
    justify-content: space-between;
}

#icons{
    padding: 30px;
    background-color: #eef4ff;
    margin-top: -5px;
}

.images>img{
    width: 40px;
    height: 20px;
    margin-right: 20px;
}

.payment{
    margin-top: -10px;
    color: #30363c;
}

.quote{
    font-size: 20px;
    color: rgb(98, 197, 164);
    margin-left: 5px;
}