body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#navbar1{
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.box1{
    border-right: 0.5px solid rgb(122, 119, 119);
    width: 200px;
    height: 35px;
    margin-left: -30px;
}

.box1>img{
    cursor: pointer;
}

#navbar2{
    display: flex;
    border: 0.5px solid gainsboro;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    margin-top: -10px;
}

#navbar2>a{
    text-decoration: none;
    color: rgb(95, 91, 91);
    font-weight: 500;
}

#navbar2>select{
   border: none;
   margin-left: -30px;
}

.mini>p{
    margin-top: -20px;
    font-size: 12px;
    color: gray;
    margin-left: -75px;
}

.mini>img{
    margin-left: -100px;
}

.pin{
    display: flex;
}

.pin>p{
   margin-left: -260px;
   margin-top: 25px;
}

.pin>select{
    border: none;
    size: 10px;
    margin-top: 12px;
}

.box2{
    width: 40%;
    height: 40px;
    display: flex;
    gap: 25px;
}

.mobi{
    font-size: 22px;
    margin-left: 10px;
    cursor: pointer;
}

.mobi-box{
    height: 36px;
    width: 140px;
    margin-left: 10px;
    background-color:#eef4ff;
    cursor: pointer;
    border-radius: 8px;
}

.mobi-box:hover{
    background-color: rgb(202, 214, 202);
    cursor: pointer;
}

.log{
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.cart{
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.prcnt{
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;

}