/* NAVBAR CSS HERE */

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#navbar1 {
  height: auto;
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.box1 {
  border-right: 0.5px solid rgb(122, 119, 119);
  width: 200px;
  height: 35px;
  margin-left: -30px;
}

.box1 > img {
  cursor: pointer;
}

#navbar2 {
  display: flex;
  border: 0.5px solid gainsboro;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  margin-top: -10px;
}

#navbar2 > a {
  text-decoration: none;
  color: rgb(95, 91, 91);
  font-weight: 500;
}

#navbar2 > select {
  border: none;
  margin-left: -30px;
}

.mini > p {
  margin-top: -20px;
  font-size: 12px;
  color: gray;
  margin-left: -75px;
}

.mini > img {
  margin-left: -100px;
}

.pin {
  display: flex;
}

.pin > p {
  margin-left: -260px;
  margin-top: 25px;
}

.pin > select {
  border: none;
  size: 10px;
  margin-top: 12px;
}

.box2 {
  width: 40%;
  height: 40px;
  display: flex;
  gap: 25px;
}

.box2 > div {
  display: flex;
}

.box2 > div > i {
  margin-top: 10px;
}

.mobi {
  font-size: 22px;
  margin-left: 10px;
  cursor: pointer;
}

.mobi-box {
  height: 36px;
  width: 140px;
  margin-left: 10px;
  background-color: #eef4ff;
  cursor: pointer;
  border-radius: 8px;
}

.mobi-box:hover {
  background-color: rgb(202, 214, 202);
  cursor: pointer;
}

.log {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.cart {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.prcnt {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

/* BODY CSS HERE */

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.look {
  display: flex;
  justify-content: space-between;
  width: 62%;
  margin: auto;
}

.look > p {
  font-weight: 600;
}

.search {
  border: 1px solid gray;
  width: 850px;
  height: 50px;
  margin: auto;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.srch-btn {
  background-color: #10847e;
  color: white;
  font-weight: 600;
  font-size: 17px;
  margin-right: 5px;
  margin-top: 5px;
  border: none;
  width: 90px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
}

.glass {
  margin-left: 30px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 18px;
}

#cards {
  display: flex;
  width: 80%;
  margin-top: 50px !important;
  justify-content: space-between;
  margin: auto;
  border: 1px solid rgb(196, 191, 191);
  padding: 10px;
}

#cards > div {
  width: 135px;
  height: 150px;
  border-radius: 8px;
}

#cards > div:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

#cards > div > p {
  font-weight: 600;
  margin-left: 20px;
}

#cards > div > img {
  margin-left: 20px;
}

#cards > div > p ~ p {
  color: #f47779;
  font-size: 12px;
  margin-top: -8px;
}

#cards > div > img {
  width: 100px;
  height: 80px;
}

#slider {
  display: flex;
  gap: 50px;
  margin-top: 70px;
  margin-left: 120px;
}

#slider > div > img {
  width: 530px;
  height: 230px;
  border-radius: 10px;
}

#slider2 {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  margin-left: 60px;
}

#slider2 > div > img {
  width: 180px;
  height: 185px;
  border-radius: 10px;
}

.order {
  display: flex;
  gap: 20px;
  background-color: #eef4ff;
}

#para {
  display: flex;
  margin-top: 60px !important;
  width:95%;
  margin:auto;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  padding: 0px;
}

.down > p {
  margin-top: 25px;
}

.upload {
  background-color: #10847e;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 17px;
  color: white;
  width: 110px;
  height: 40px;
  cursor: pointer;
}

#slider3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 30px;
}

#slider3 > div > img {
  width: 140px;
  height: 120px;
  margin-top: 15px;
}

#slider3 > div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
  border-radius: 10px;
  height: 150px;
}

#slider3 > div:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#slider3 > div > p {
  text-align: center;
  margin-top: 30px;
}

.slider4 {
  display: flex;
  width: 95%;
  margin:auto;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 30px;
  flex-wrap: nowrap;
}

.slider4 > div > img {
  width: 150px;
  height: 150px;
  margin-top: 15px;
}

.slider4 > div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
  border-radius: 10px;
  height: 190px;
  padding: 5px 15px 5px 15px;
}

.slider4 > div:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slider4 > div > img + p {
  font-weight: 600;
  margin-top: 45px;
  color: #30363c;
}

.slider4 > div > img + p + p {
  font-weight: 600;
  margin-top: -10px;
  color: #30363c;
}

.slider4 > div > img + p + p + p {
  text-decoration: line-through;
  color: #8897a2;
  font-weight: 600;
  font-size: 14px;
}

.slider4 > div > h5 {
  color: #30363c;
  font-weight: 600;
  font-size: 16px;
  margin-top: -5px;
}

.slider4 > div > h5 > span {
  color: #f47779;
}

.slider5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 30px;
  flex-wrap: nowrap;
}

.slider5 > div > img {
  width: 150px;
  height: 150px;
  margin-top: 15px;
}

.slider5 > div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
  border-radius: 10px;
  height: 190px;
  padding: 5px 15px 5px 15px;
}

.slider5 > div:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slider5 > div > img + p {
  font-weight: 600;
  margin-top: 45px;
  color: #30363c;
}

.slider5 > div > img + p + p {
  font-weight: 600;
  margin-top: -10px;
  color: #30363c;
}

.slider5 > div > img + p + p + p {
  text-decoration: line-through;
  color: #8897a2;
  font-weight: 600;
  font-size: 14px;
}

.slider5 > div > h5 {
  color: #30363c;
  font-weight: 600;
  font-size: 16px;
  margin-top: -5px;
}

.slider5 > div > h5 > span {
  color: #f47779;
}

.explore {
  display: flex;
  margin-top: 200px;
  gap: 30px;
  background-color: rgb(132, 108, 197);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.explore > div {
  width: 30%;
  margin-left: 50px;
}

.explore > div > button {
  background-color: #f5b326;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.explore > div > p {
  color: white;
}

.explore > div > h3 {
  color: white;
}

.view {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-between;
}

.view > div > a {
  text-decoration: none;
  font-size: 20px;
  color: #10847e;
}

.view > div > h2 {
  color: #30363c;
}

.view > div + div {
  margin-top: 70px;
}

.big-cards {
  display: flex;
  margin: auto;
  width: 95%;
  gap: 20px;
}

.big-cards > div {
  width: 23%;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.flex-card {
  display: flex;
  justify-content: space-between;
}

.big-cards > div > div > div > img {
  width: 100px;
  height: 100px;
}

.big-cards > div > div > div > h5 {
  font-weight: 600;
  font-size: 17px;
  color: #8897a2;
  text-decoration: line-through;
  margin-top: 25px;
}

.big-cards > div > div > div > h4 {
  font-size: 20px;
  color: #30363c;
  margin-top: -20px;
}

.big-cards > div > button {
  background-color: #f47779;
  width: 75px;
  height: 35px;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

.big-cards > div > h4 {
  color: #30363c;
  font-weight: 600;
}

.small-cards > div > div > img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.small-cards > div > div > p {
  font-weight: 600;
}

.small-cards {
  display: flex;
  width: 95%;
  margin: auto;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.small-cards > div {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

#cards-hover:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

#cards-hover {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 0px 20px 0px 20px;
}

/* FOOTER CSS HERE */

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#naming {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  margin-top: 30px;
}

#naming > div > p {
  margin-top: -10px;
}

#Boxes {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

#Boxes > div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 250px;
  width: 280px;
  background-color: rgb(230, 255, 241);
  padding: 15px;
}

#Boxes > div > p {
  align-items: center;
}

button {
  cursor: pointer;
}

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
  border-radius: 5px;
  border: 0.5px dashed gray;
}

.docs {
  width: 95%;
  margin: auto;
}

#about {
  display: flex;
  width: 100%;
  height: auto;
  margin: auto;
  justify-content: space-between;
  margin-top: 70px;
  background-color: #eef4ff;
  padding: 10px;
}

#about > div {
  width: 220px;
  height: auto;
  margin-left: 25px;
  margin-top: 30px;
}

#about > div > a {
  font-size: 14px;
  text-decoration: none;
  letter-spacing: -1px;
  color: #30363c;
}

#about > div > h4 {
  color: #30363c;
}

.inc-size {
  font-size: 25px;
  margin-right: 10px;
}

.sources {
  display: flex;
  justify-content: space-between;
}

#icons {
  padding: 30px;
  background-color: #eef4ff;
  margin-top: -5px;
}

.images > img {
  width: 40px;
  height: 20px;
  margin-right: 20px;
}

.payment {
  margin-top: -10px;
  color: #30363c;
}

.quote {
  font-size: 20px;
  color: rgb(98, 197, 164);
  margin-left: 5px;
}
